/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.dashbord-login {
    padding: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: calc(100vw - 1200px);
    height: calc(100vh - 200px);
}

/* Estilos do logo */
.logo-login {
    text-align: center;
    margin-bottom: 30px;
}

.logo-login h1 {
    color: #00ffbf;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Estilos do formulário */
.formulario-login {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-login h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.grupo-formulario-login {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.button-entrar-login {
    width: 97%;
    padding: 10px;
    background-color: #00ffbf;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-entrar-login :hover {
    background-color: #00e6ac;
}

/* Estilos das opções adicionais */
.opcoes-adicionais-login {
    text-align: center;
    margin-top: 20px;
}

.esqueceu-senha-login,
.registrar-login {
    color: #00ffbf;
    text-decoration: none;
}

.esqueceu-senha-login:hover,
.registrar-login:hover {
    text-decoration: underline;
}

.opcoes-adicionais-login p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
