body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    }
  
  body::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    position: fixed;
    filter: blur(8px);
    background-color: #d8cfc4;
  }

  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .secao-layout1 {
    gap: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
  
  .dashbord-playlist-layout1 {
    margin: 20px;
    display: flex; 
    border-radius: 10px;
    flex-direction: column;
    width: calc(100vw - 40px);
    background-color: white;
    height: calc(100vh - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cabecalho-playlist-layout1, .rodape-playlist-layout1 {
    height: 75px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  .cabecalho-playlist-layout1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .rodape-playlist-layout1{
    gap: 20px;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.linha-layout1-layout1 {
    display: flex;
    margin-top: 5px;
    justify-content: flex-start;
}

.borda1-layout1-layout1{
    width: 1380px;
    height: 400px;
    display: flex;
    margin-left: 5px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: transparent;
}

.borda2-layout1-layout1{
    width: 125px;
    height: 400px;
    display: flex;
    margin-left: 5px;
    margin-top: 25px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: transparent;
}

.borda3-layout1-layout1{
    width: 1514px;
    height: 125px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: transparent;
}

.borda1-layout1-layout1 svg, .borda2-layout1-layout1 svg, .borda3-layout1-layout1 svg {
  width: 25px;
  height: 25px;
  color: #7EC8E3;
}

.modal-posicao1-layou1{
  top: 50%;
  left: 50%;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  z-index: 1000;
  display: flex;
  position: fixed;
  border-radius: 10px;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal2-posicao1-layou1{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.ordem-playlist-posicao1-layou1{
  width: 95%;
  height: 80%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #d8cfc4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.midia-item {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.midia-nome {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.campo-tempo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-tempo {
  width: 60px;
  font-size: 12px;
  margin-bottom: 10px;
}

.adicionar-upload-posicao1-layou1{
  width: 200px;
  height: 250px;
  display: flex;
  overflow: hidden; 
  margin-top: 20px;
  overflow: visible;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.lista-uploads {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.upload-preview-layout1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  height: 250px;
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
}

.upload-preview-layout1 img{
  width: 80%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.upload-preview-layout1 video {
  width: 80%;
  height: 60%;
  object-fit: cover;
  margin-top: 20px;
}

.upload-preview-layout1 iframe {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}