body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  }

body::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: '';
  position: fixed;
  filter: blur(8px);
  background-color: #d8cfc4;
}

.dashbord-upload {
  margin: 20px;
  display: flex; 
  border-radius: 10px;
  flex-direction: column;
  width: calc(100vw - 40px);
  background-color: white;
  height: calc(100vh - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cabecalho-upload, .rodape-upload {
  height: 75px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.cabecalho-upload{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rodape-upload{
  gap: 20px;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.linha-upload {
  flex: 1;
  display: flex;
}

.column1-upload, .column2-upload{
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.column1-upload{   
  gap: 20px;
  width: 190px;
  align-items: flex-start;
  justify-content: center;
}

.column2-upload{
  flex: 1;
  align-items: center;
  justify-content: center;
}

.imagem-upload, .video-upload, .texto-upload{
  width: 150px;
  height: 150px;
  display: flex;
  margin-left: 20px;
  border-radius: 10px;
  align-items: center;
  padding-bottom: 10px;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.previews-upload{
  width: 95%;
  height: 90%;
  margin-left: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #d8cfc4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botao-video-upload{
  justify-content: flex-end;
  
}
.botao-texto-upload{
  justify-content: flex-end;
}

.modal {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  z-index: 1000;
  display: flex;
  position: fixed;
  border-radius: 10px;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-especial{
  top: 50%;
  left: 50%;
  width: 700px;
  height: 700px;
  z-index: 1000;
  display: flex;
  position: fixed;
  border-radius: 10px;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-imagem, .modal-video, .modal-texto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.modal-imagem h2, .modal-video h2, .modal-texto h2{
  width: 100%;
  text-align: center;
  align-items: center;
}

.linha-check-box{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 35px;
  height: 18px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  left: 3px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: .2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  background-color: white;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: rgb(148, 118, 255);
  transition-duration: .2s;
}

.ck-editor__editable {
  margin: 0 auto;
  min-width: 500px;
  max-width: 600px;
  min-height: 500px;
  max-height: 500px;
}

.botao-container {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.botao-salvar-imagem, .botao-salvar-video, .botao-salvar-texto{
  margin-bottom: 20px;
}
.botao-modal-imagem, .botao-modal-video, .botao-modal-texto{
  margin-bottom: 20px;
}